@use "../../../helpers" as *;

.#{$namespace}modal {
  &__container,
  &__center,
  &__dialog,
  &__dialog-main {
    height: 100%;
  }

  &__dialog {
    @include animation(#{$namespace}no-transform 300ms ease forwards);
    @include transform(translateY(100%));
    @include overflow-auto;

    overscroll-behavior: contain;
  }

  &__header-inner {
    @include justify-content(flex-end);
  }

  &__close-btn {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: size(-2);
      bottom: size(-2);
      left: size(-2);
      right: size(-2);
    }
  }

  &__back-btn {
    display: none;
  }

  &__logo {
    &--wordmark {
      display: none;
    }
  }
}
