@use "../../../helpers" as *;

.#{$namespace}modal {
  &__center {
    padding: 0;
    vertical-align: bottom;
  }

  &__dialog {
    transform: translateY(100%);
    animation: #{$namespace}no-transform 400ms ease forwards;
  }
}
