@use '../../../helpers' as *;

.#{$namespace}modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  text-align: left;
  white-space: normal;
  overflow: auto;
  overscroll-behavior: contain;
  z-index: scss-var(z-index, important);

  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(color(overlay, main), 0.4);
    z-index: -1;
    animation: #{$namespace}no-transform 400ms ease;
  }

  &__container {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__center {
    display: table-cell;
    max-width: 100vw;
  }

  &__dialog {
    position: relative;
    width: 100%;
    max-width: scss-var(size, container, max-width, narrow);
    margin-left: auto;
    margin-right: auto;
    background-color: color(bg, main);
    color: color(text, main);
    border-radius: scss-var(border, radius, alt);
    overflow: hidden;
  }

  &__header {
    padding-top: size(3);
  }
}
