@use "../../../helpers" as *;

.#{$namespace}modal {
  &__center {
    padding: size(3);
    vertical-align: middle;
  }

  &__dialog {
    transform: translateY(size(1));
    animation: #{$namespace}fade-in 400ms ease, #{$namespace}no-transform 400ms ease forwards;
  }
}
