@use "../../../helpers" as *;

.#{$namespace}modal {
  &__center {
    padding: scss-var(size, modal, outer-spacing);
    vertical-align: middle;
  }

  &__dialog {
    border-radius: scss-var(border, radius, alt);
    animation: #{$namespace}fade-in 400ms ease;
  }
}
