@use '../../../helpers' as *;

.#{$namespace}modal {
  $modal-header-height: size(5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 110;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(color(overlay, main), 0.4);
    z-index: -1;
    animation: #{$namespace}no-transform 400ms ease;
  }

  &__dialog {
    position: relative;
    width: 100%;
    background-color: color(bg, main);
    color: color(text, main);
  }

  &__header {
    padding-top: size(3);
  }

  &__header-inner {
    display: flex;
    align-items: center;
    position: relative;
    height: $modal-header-height;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--wordmark,
    &--symbol {
      display: block;
      height: $modal-header-height;
      fill: color(text, main);
    }
  }
}
