@use 'sass:color';
@use 'sass:math';
@use '../../../helpers' as *;

@mixin button-tone($bg, $text) {
  background-color: $bg;
  color: $text;

  &:not([disabled]) {
    &:hover {
      background-color: color.adjust($bg, $lightness: -5%);
    } 
  }
}

.#{$namespace}button {
  @include flex-display;
  @include align-items(center);
  @include justify-content(center);
  @include font-medium;
  @include transform-origin(50%, 50%);

  min-height: scss-var(size, input-height, mobile);
  padding: size(1.5) size(3);
  border-radius: math.div(scss-var(size, input-height, mobile), 2);
  font-size: scss-var(font, size, small);
  user-select: none;
  transition: transform 200ms ease, background-color 200ms ease;

  &[disabled] {
    opacity: 0.37;
    cursor: not-allowed;
  }

  &:active {
    @include transform(scale(0.97));
  }

  &--primary {
    @include button-tone(color(primary, main), color(primary, text));
  }

  &--action {
    @include button-tone(color(action, main), color(action, text));
  }

  &--action-clear {
    @include button-tone(transparent, color(action, main));
  }

  &--full-width {
    width: 100%;
  }

  &__content {
    display: block;

    & + & {
      margin-left: size(1);
      user-select: none;
    }
  }
}