@use 'sass:color';
@use 'sass:math';
@use '../../../helpers' as *;

@mixin button-tone($bg, $text) {
  background-color: $bg;
  color: $text;

  &:not([disabled]) {
    @include hover {
      background-color: color-mix(in srgb, $bg, black 5%);
    }
  }
}

.#{$namespace}button {
  @include font-medium;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: scss-var(size, input-height, mobile);
  padding: size(1.5) size(4);
  border-radius: math.div(scss-var(size, input-height, mobile), 2);
  font-size: scss-var(font, size, small);
  user-select: none;
  transform-origin: 50% 50%;
  transition: transform 200ms ease, background-color 200ms ease;

  &[disabled] {
    opacity: 0.37;
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.97);
  }

  &--primary {
    @include button-tone(var(--color-primary-main), color(primary, text));
  }

  &--action {
    @include button-tone(color(action, main), color(action, text));
  }

  &--action-alt {
    @include button-tone(color(action, alt), color(action, main));
  }

  &--action-clear {
    @include button-tone(transparent, color(action, main));
  }

  &--success {
    @include button-tone(color(semantic, success, alt), color(semantic, success, text));
  }

  &--full-width {
    width: 100%;
  }

  &--size-small {
    min-height: size(5);
    padding-top: size(1);
    padding-bottom: size(1);
  }

  &__content {
    display: block;

    &+& {
      margin-left: size(1);
      user-select: none;
    }
  }
}