@use '../../../helpers' as *;

.#{$namespace}heading {
  &--2 {
    font-size: scss-var(font, size, xxxlarge);
  }

  &--3 {
    font-size: scss-var(font, size, xxlarge);
  }

  &--4 {
    font-size: scss-var(font, size, large);
  }
}
