/// Variables to use across the project.
/// Declare variables in the $variables map and fetch
/// a variable using the scss-var() function.

@use 'sass:map';
@use '../function' as *;

// This map is used to declare variables
$variables: (
  size: (
    input-height: (
      desktop: 52px,
      mobile: 48px,
    ),
    border-radius: 3px,
    container-max-width: 1344px,
    container-max-width-narrow: 882px,
    container: (
      max-width: (
        main: 1280px,
        narrow: 850px,
      ),
      gutter: 16px,
    ),
  ),
  font: (
    line-height: (
      main: 1.5,
      alt: 1.2,
    ),
    size: (
      xxsmall: 10px,
      xsmall: 12px,
      small: 14px,
      regular: 16px,
      large: 18px,
      xlarge: 20px,
      xxlarge: 24px,
      xxxlarge: 32px,
    ),
  ),
  animation: (
    cubic-bezier: cubic-bezier(0.47, 1.64, 0.41, 0.8),
  ),
  box-shadow: (
    main: (0 8px 10px rgba(0, 0, 0, 0.03), 0 2px 14px rgba(0, 0, 0, 0.03), 0 2px 5px rgba(0, 0, 0, 0.09)),
    alt: 0 1px 2px rgba(0, 0, 0, 0.17),
  ),
  zindex: (
    overlay: 20,
  ),
);

// This function is used to use variables in the project
@function scss-var($keys...) {
  $value: map.get($variables, $keys...);

  @if not $value {
    @error('Variable "#{$keys}" does not exist in $variables.');
  }

  @return $value;
}
