@use 'sass:math';
@use '../../../helpers' as *;

.#{$namespace}overflow-grid {
  $item-spacing: size(2);

  --#{$namespace}item-width: 80%;

  position: relative;
  margin: size(-2) 0;

  &__list-wrapper {
    margin: 0 var(--#{$namespace}modal-gutter-negative-x);
  }

  &__list {
    @include hide-scrollbar;
    
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0 var(--#{$namespace}modal-gutter-x);
    margin: 0 math.div($item-spacing, -2);
    overflow: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--#{$namespace}modal-gutter-x);

    &::after {
      content: '';
      display: block;
      flex-shrink: 0;
      width: var(--#{$namespace}modal-gutter-x);
      margin-right: var(--#{$namespace}modal-gutter-negative-x);
    }
  }

  &__item {
    flex: 1 0 auto;
    width: var(--#{$namespace}item-width);
    max-width: var(--#{$namespace}item-width);
    padding: size(2) math.div($item-spacing, 2);
    scroll-snap-align: start;

    &:only-child {
      width: 100%;
      max-width: 100%;
    }
  }
}
