/// Mixins used to style raw html content

@use './_custom' as *;
@use '../function' as *;

@mixin content {
  $content-margin: 0.75em;

  @include remove-direct-child-edge-margins;

  p {
    margin: $content-margin 0;
  }

  img:not([class]) {
    display: block;
    width: 100%;
    margin: $content-margin 0;
  }

  ol,
  ul {
    list-style: none;
    margin: $content-margin 0;
    padding: 0;

    li {
      display: flex;

      &::before {
        flex-shrink: 0;
        min-width: calc(3ch - #{size(0.5)}); // Magic number to allow three digits in ol
        padding-right: #{size(0.5)};
      }
    }
  }

  ul {
    li {
      &::before {
        content: '\2022';
      }
    }
  }

  ol {
    counter-reset: ol-counter;

    li {
      counter-increment: ol-counter;

      &::before {
        content: counter(ol-counter) '.';
      }
    }
  }

  li + li {
    margin-top: 0.25em;
  }
}
