/// Custom mixins

// Remove top and bottom margins from the first and last child
@mixin remove-direct-child-outer-y-margins {
  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Hide scrollbar in scrollable elements
@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}