@use 'sass:color';
@use '../../../helpers' as *;

.#{$namespace}icon-button {
  $icon-button-size: size(5);
  $icon-button-color: color(bg, main);

  display: flex;
  align-items: center;
  justify-content: center;
  width: $icon-button-size;
  height: $icon-button-size;
  border-radius: 50%;
  background-color: $icon-button-color;
  box-shadow: scss-var(box-shadow, main);
  user-select: none;
  transform-origin: 50% 50%;
  transition: transform 200ms ease, background-color 200ms ease;

  &[disabled] {
    opacity: 0.37;
    cursor: not-allowed;
  }

  &:enabled {
    &:hover {
      background-color: color-mix(in srgb, $icon-button-color, black 5%);
    }
  }

  &:active {
    transform: scale(0.97);
  }
}