@use '../../../helpers' as *;

.textarea {
  --textarea-padding: #{size(1.5)};

  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  padding: var(--textarea-padding);
  border: 1px solid color(border, main);
  border-radius: scss-var(size, border-radius);
  box-shadow: scss-var(box-shadow, alt);
  resize: vertical;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-appearance: none;
  touch-action: manipulation;

  &[disabled] {
    opacity: 0.37;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    border-color: darken(color(border, main), 20%);
  }

  @include placeholder {
    @include font-light;
    color: color(text, alt);
  };

  &--has-error {
    border-color: color(ui, error, text);
  }
}