@use "../../../helpers" as *;

.#{$namespace}header {
  $header-height: size(5);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: $header-height;
  padding: 0 var(--modal-gutter-x);

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--wordmark,
    &--symbol {
      display: block;
      height: $header-height;
      fill: color(text, main);
    }
  }

  &__close-btn {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: size(-2);
      bottom: size(-2);
      left: size(-2);
      right: size(-2);
    }
  }
}
