@use "../../../helpers" as *;

.#{$namespace}header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: scss-var(size, header, height);
  padding: 0 var(--#{$namespace}modal-gutter-x);

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--wordmark,
    &--symbol {
      display: block;
      height: scss-var(size, header, height);
      fill: color(text, main);
    }

    .#{$namespace}-image {
      height: scss-var(size, header, height);
    }
  }
}
