@use '../../../helpers' as *;

.#{$namespace}icon-content {
  $icon-size: 1.2em;
  $icon-margin: size(1);
  $label-size: 1em;
  $label-line-height: scss-var(font, line-height, main);

  @include flex-display;

  &__icon {
    @include flex-shrink(0);
    padding-right: $icon-margin;
    margin-top: calc(($icon-size - $label-size * $label-line-height) / -2);
    font-size: $icon-size;
    color: color(action, main);
  }

  &__content {
    @include flex(1 1 auto);
  }

  &__label {
    font-size: $label-size;
    line-height: $label-line-height;
  }

  &__meta {
    margin-top: size(0.25);
    color: color(text, alt);
  }
}