@use '../../../helpers' as *;

// Places a fullscreen overlay over the content
.#{$namespace}overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: size(8) 0;
  background-color: color(bg, main);
  text-align: center;
  overflow: auto;
  z-index: scss-var(z-index, overlay);
}