@use '../../../helpers' as *;

.#{$namespace}input-checkbox {
  $root: &;

  --#{$namespace}icon-size: #{size(2)};
  --#{$namespace}icon-margin: #{size(1)};
  --#{$namespace}label-size: #{scss-var(font, size, small)};
  --#{$namespace}label-line-height: #{scss-var(font, line-height, main)};

  &__input {
    position: fixed;
    left: -9999px;
    opacity: 0;

    &:checked {
      ~ #{$root}__header {
        #{$root}__label {
          @include font-medium;

          &::before {
            background-color: color(action, main);
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M12.3 3.3 6 9.6 3.7 7.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3 3c.4.4 1 .4 1.4 0l7-7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="%23#{str-replace(#{color(action, text)}, "#", "")}"/></svg>');
            background-repeat: no-repeat;
            background-size: calc(var(--#{$namespace}icon-size) * 0.6);
            background-position: 50%;
          }
        }
      }
    }

    &[disabled] {
      ~ #{$root}__header,
      ~ #{$root}__description {
        opacity: 0.37;
        cursor: not-allowed;
      }
    }

    @include focus {
      outline: none;
      
      ~ #{$root}__header {
        #{$root}__label {
          &::before {
            @include focus-style;
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
  }

  &__label {
    flex: 1 1 auto;
    display: flex;
    line-height: var(--#{$namespace}label-line-height);

    &::before {
      content: '';
      flex-shrink: 0;
      width: var(--#{$namespace}icon-size);
      height: var(--#{$namespace}icon-size);
      border-radius: scss-var(border, radius, main);
      background-color: color(bg, alt);
      margin-right: var(--#{$namespace}icon-margin);
      margin-top: calc((var(--#{$namespace}icon-size) - var(--#{$namespace}label-size) * var(--#{$namespace}label-line-height)) / -2);
      cursor: pointer;
    }
  }

  &__meta {
    flex-shrink: 0;
    padding-left: size(2);
  }

  &__description {
    @include content;
    
    display: block;
    padding-top: size(1);
    padding-left: calc(var(--#{$namespace}icon-size) + var(--#{$namespace}icon-margin));
    font-size: scss-var(font, size, xsmall);
  }
}
