@use '../../../helpers' as *;

.#{$namespace}image {
  display: block;
  max-width: 100%;

  // Used to display an image inline in text
  &--inline {
    display: inline-block;
    vertical-align: middle;
    height: scss-var(font, size, regular);
    margin: (scss-var(font, size, regular) * -0.5) 0.25em; // Add bleed to not interfere with line height
  }
}