@use '../../../helpers' as *;

.#{$namespace}tile {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: color(bg, main);
  border-radius: scss-var(border, radius, main);
  box-shadow: scss-var(box-shadow, main);
  overflow: hidden;

  &__hero {
    flex-shrink: 0;
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: scss-var(aspect-ratio, landscape);
  }

  &__body {
    flex: 1 1 auto;
    padding: size(3);
  }

  &__header {
    display: flex;
  }

  &__title {
    @include font-bold;
    
    flex: 1 1 auto;
    font-size: scss-var(font, size, large);
  }

  &__image {
    flex-shrink: 0;
    padding-left: size(2);
  }

  &__price {
    @include font-medium;

    margin-top: size(1);
  }

  &__description {
    margin-top: size(2);
    display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  &__read-more {
    margin-top: size(1);
  }

  &__footer {
    flex-shrink: 0;
    margin-top: auto;
    padding: 0 size(3) size(3) size(3);
  }
}
