<!-- Alert is used to display an contextual important message. Use different tones to enhance the message type. -->

<div class="cl-sub-section">
  <div class="waykeecom-alert" role="alert">
    <div class="waykeecom-alert__icon">
      <div class="waykeecom-alert__icon-badge">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Info"
        >
          <path d="M7 6h2v8H7V6zm0-4v2h2V2H7z" />
        </svg>
      </div>
    </div>
    <div class="waykeecom-alert__content">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-alert waykeecom-alert--success" role="alert">
    <div class="waykeecom-alert__icon">
      <div class="waykeecom-alert__icon-badge">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Info"
        >
          <path d="M7 6h2v8H7V6zm0-4v2h2V2H7z" />
        </svg>
      </div>
    </div>
    <div class="waykeecom-alert__content">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-alert waykeecom-alert--warning" role="alert">
    <div class="waykeecom-alert__icon">
      <div class="waykeecom-alert__icon-badge">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Info"
        >
          <path d="M7 6h2v8H7V6zm0-4v2h2V2H7z" />
        </svg>
      </div>
    </div>
    <div class="waykeecom-alert__content">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-alert waykeecom-alert--error" role="alert">
    <div class="waykeecom-alert__icon">
      <div class="waykeecom-alert__icon-badge">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Info"
        >
          <path d="M7 6h2v8H7V6zm0-4v2h2V2H7z" />
        </svg>
      </div>
    </div>
    <div class="waykeecom-alert__content">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-alert waykeecom-alert--info" role="alert">
    <div class="waykeecom-alert__icon">
      <div class="waykeecom-alert__icon-badge">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Info"
        >
          <path d="M7 6h2v8H7V6zm0-4v2h2V2H7z" />
        </svg>
      </div>
    </div>
    <div class="waykeecom-alert__content">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>