<!-- These are the headings (h1–h6) used in this project. It is possible to use the heading classes to style non-heading elements as well. -->

<h1 class="waykeecom-heading waykeecom-heading--1">Almost before we knew it, we had left the ground</h1>
<h2 class="waykeecom-heading waykeecom-heading--2">Almost before we knew it, we had left the ground</h2>
<h3 class="waykeecom-heading waykeecom-heading--3">Almost before we knew it, we had left the ground</h3>
<h4 class="waykeecom-heading waykeecom-heading--4">Almost before we knew it, we had left the ground</h4>
<h5 class="waykeecom-heading waykeecom-heading--5">Almost before we knew it, we had left the ground</h5>
<h6 class="waykeecom-heading waykeecom-heading--6">Almost before we knew it, we had left the ground</h6>