<!-- This component is used on img elements to give them essential styling. -->

<div class="cl-sub-section">
  <img src="https://via.placeholder.com/100x50" alt="Placeholder" class="waykeecom-image" />
</div>

<div class="cl-sub-section">
  <img src="https://via.placeholder.com/32x16" alt="Placeholder" class="waykeecom-image waykeecom-image--inline" />
</div>

<div class="cl-sub-section">
  <img src="https://via.placeholder.com/110x80" alt="Placeholder" class="waykeecom-image waykeecom-image--loan-logo" />
</div>