<!-- Default input text/number used in this project. -->

<div class="cl-sub-section">
  <div class="waykeecom-input-text">
    <input
      type="text"
      id=""
      value=""
      name=""
      autocomplete=""
      placeholder="Lorem ipsum"
      class="waykeecom-input-text__input"
    />
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-text">
    <input
      type="text"
      id=""
      value=""
      name=""
      autocomplete=""
      placeholder="Lorem ipsum"
      class="waykeecom-input-text__input"
    />
    <div class="waykeecom-input-text__unit">kr</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-text waykeecom-input-text--has-error">
    <input
      type="text"
      id=""
      value=""
      name=""
      autocomplete=""
      placeholder="Lorem ipsum"
      class="waykeecom-input-text__input"
    />
  </div>
</div>