<!-- Default radio button and checkbox used in this project. -->

<div class="cl-sub-section">
  <div class="waykeecom-input-selection" role="radio">
    <input
      type="radio"
      id="cl-radio-1"
      value=""
      name="cl-radio"
      class="waykeecom-input-selection__input"
    />
    <div class="waykeecom-input-selection__header">
      <label for="cl-radio-1" class="waykeecom-input-selection__label">Lorem ipsum</label>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-selection" role="radio">
    <input
      type="radio"
      id="cl-radio-2"
      value=""
      name="cl-radio"
      class="waykeecom-input-selection__input"
    />
    <div class="waykeecom-input-selection__header">
      <label for="cl-radio-2" class="waykeecom-input-selection__label">Lorem ipsum</label>
      <div class="waykeecom-input-selection__meta">Dolor sit amet</div>
    </div>
    <label for="cl-radio-2" class="waykeecom-input-selection__description">
      Lorem ipsum dolor sit amet.
    </label>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-selection" role="checkbox">
    <input
      type="checkbox"
      id="cl-checkbox-1"
      value=""
      name="cl-checkbox"
      class="waykeecom-input-selection__input"
    />
    <div class="waykeecom-input-selection__header">
      <label for="cl-checkbox-1" class="waykeecom-input-selection__label">Lorem ipsum</label>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-selection" role="checkbox">
    <input
      type="checkbox"
      id="cl-checkbox-2"
      value=""
      name="cl-checkbox"
      class="waykeecom-input-selection__input"
    />
    <div class="waykeecom-input-selection__header">
      <label for="cl-checkbox-2" class="waykeecom-input-selection__label">Lorem ipsum</label>
      <div class="waykeecom-input-selection__meta">Dolor sit amet</div>
    </div>
    <label for="cl-checkbox-2" class="waykeecom-input-selection__description">
      Lorem ipsum dolor sit amet.
    </label>
  </div>
</div>