<!-- This is a loader used to display a loading state. -->

<div class="cl-sub-section">
  <div class="waykeecom-loader" role="status">
    <div class="waykeecom-loader__spinner" aria-hidden="true"></div>
    <div class="waykeecom-sr-only">Loading...</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-loader waykeecom-loader--inline-block" role="status">
    <div class="waykeecom-loader__spinner" aria-hidden="true"></div>
    <div class="waykeecom-sr-only">Loading...</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-loader waykeecom-loader--inline" role="status">
    <div class="waykeecom-loader__spinner" aria-hidden="true"></div>
    <div class="waykeecom-sr-only">Loading...</div>
  </div>
</div>