<!-- Scrollable gallery of images. -->

<div style="padding: 0 var(--waykeecom-modal-gutter-x);">
  <div class="waykeecom-overflow-gallery">
    <ul class="waykeecom-overflow-gallery__list">
      <li class="waykeecom-overflow-gallery__item">
        <img src="https://via.placeholder.com/800x600/567890/ebf5ff" alt="Placeholder" class="waykeecom-overflow-gallery__image" />
      </li>
      <li class="waykeecom-overflow-gallery__item">
        <img src="https://via.placeholder.com/800x600/ebf5ff/567890" alt="Placeholder" class="waykeecom-overflow-gallery__image" />
      </li>
      <li class="waykeecom-overflow-gallery__item">
        <img src="https://via.placeholder.com/800x600/567890/ebf5ff" alt="Placeholder" class="waykeecom-overflow-gallery__image" />
      </li>
    </ul>
    <div class="waykeecom-overflow-gallery__nav waykeecom-overflow-gallery__nav--prev">
      <button type="button" title="Previous" class="waykeecom-icon-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Chevron left"
        >
          <path d="m5.4 7 5.2-5 1 1-5.2 5 5.2 5-1.1 1-5.2-5-1-1 1.1-1z" />
        </svg>
      </button>
    </div>
    <div class="waykeecom-overflow-gallery__nav waykeecom-overflow-gallery__nav--next">
      <button type="button" title="Next" class="waykeecom-icon-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Chevron right"
        >
          <path d="m10.5 9-5.2 5-1-1 5.2-5-5.2-5 1.1-1 5.2 5 1 1-1.1 1z" />
        </svg>
      </button>
    </div>
  </div>
</div>