<!-- This component is used to display a preview of a product. -->

<div class="cl-sub-section">
  <div class="waykeecom-preview-card">
    <div class="waykeecom-preview-card__media">
      <img src="https://via.placeholder.com/100x100" alt="" class="waykeecom-preview-card__image" />
    </div>
    <div class="waykeecom-preview-card__body">
      <div class="waykeecom-preview-card__seller">Lorem ipsum</div>
      <div class="waykeecom-preview-card__heading">
        <span class="waykeecom-preview-card__title">Lorem ipsum</span> Dolor sit amet
      </div>
      <div class="waykeecom-preview-card__footer">
        <div class="waykeecom-preview-card__price">249 000 kr</div>
      </div>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-preview-card">
    <div class="waykeecom-preview-card__body">
      <div class="waykeecom-preview-card__seller">Lorem ipsum</div>
      <div class="waykeecom-preview-card__heading">
        <span class="waykeecom-preview-card__title">Lorem ipsum</span> Dolor sit amet
      </div>
      <div class="waykeecom-preview-card__footer">
        <div class="waykeecom-preview-card__price">249 000 kr</div>
      </div>
    </div>
  </div>
</div>