<!-- Default select used in this project. -->

<div class="cl-sub-section">
  <select class="waykeecom-select" id="">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
    <option value="option-4">Option 4</option>
    <option value="option-5">Option 5</option>
  </select>
</div>

<div class="cl-sub-section">
  <select class="waykeecom-select waykeecom-select--has-error" id="">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
    <option value="option-4">Option 4</option>
    <option value="option-5">Option 5</option>
  </select>
</div>