<!-- This component is used to display steppable content. -->

<div class="waykeecom-stepper">
  <div class="waykeecom-stepper__item waykeecom-stepper__item--is-complete">
    <div class="waykeecom-stepper__header">
      <div class="waykeecom-stepper__icon" aria-hidden="true">
        <div class="waykeecom-icon-backdrop waykeecom-icon-backdrop--success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            class="waykeecom-icon"
            data-icon="Check"
          >
            <path d="M12.3 3.3 6 9.6 3.7 7.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3 3c.4.4 1 .4 1.4 0l7-7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z"/>
          </svg>
        </div>
      </div>
      <h3 class="waykeecom-heading waykeecom-heading--3 waykeecom-no-margin">
        <span class="waykeecom-stepper__stage" aria-hidden="true">
          Step <span class="waykeecom-stepper__stage-count"></span> –
        </span>
        Completed step
      </h3>
    </div>
    <div class="waykeecom-stepper__body">
      <div class="cl-placeholder">Content</div>
    </div>
  </div>
  <div class="waykeecom-stepper__item waykeecom-stepper__item--is-active">
    <div class="waykeecom-stepper__header">
      <div class="waykeecom-stepper__icon" aria-hidden="true">
        <div class="waykeecom-icon-backdrop waykeecom-icon-backdrop--success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            class="waykeecom-icon"
            data-icon="Check"
          >
            <path d="M12.3 3.3 6 9.6 3.7 7.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3 3c.4.4 1 .4 1.4 0l7-7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z"/>
          </svg>
        </div>
      </div>
      <h3 class="waykeecom-heading waykeecom-heading--3 waykeecom-no-margin">
        <span class="waykeecom-stepper__stage" aria-hidden="true">
          Step <span class="waykeecom-stepper__stage-count"></span> –
        </span>
        Active step
      </h3>
    </div>
    <div class="waykeecom-stepper__body">
      <div class="cl-placeholder">Content</div>
    </div>
  </div>
  <div class="waykeecom-stepper__item">
    <div class="waykeecom-stepper__header">
      <div class="waykeecom-stepper__icon" aria-hidden="true">
        <div class="waykeecom-icon-backdrop waykeecom-icon-backdrop--success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            class="waykeecom-icon"
            data-icon="Check"
          >
            <path d="M12.3 3.3 6 9.6 3.7 7.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3 3c.4.4 1 .4 1.4 0l7-7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z"/>
          </svg>
        </div>
      </div>
      <h3 class="waykeecom-heading waykeecom-heading--3 waykeecom-no-margin">
        <span class="waykeecom-stepper__stage" aria-hidden="true">
          Step <span class="waykeecom-stepper__stage-count"></span> –
        </span>
        Lorem ipsum
      </h3>
    </div>
  </div>
  <div class="waykeecom-stepper__item waykeecom-stepper__item--is-disabled">
    <div class="waykeecom-stepper__header">
      <div class="waykeecom-stepper__icon" aria-hidden="true">
        <div class="waykeecom-icon-backdrop waykeecom-icon-backdrop--success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            class="waykeecom-icon"
            data-icon="Check"
          >
            <path d="M12.3 3.3 6 9.6 3.7 7.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3 3c.4.4 1 .4 1.4 0l7-7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z"/>
          </svg>
        </div>
      </div>
      <h3 class="waykeecom-heading waykeecom-heading--3 waykeecom-no-margin">
        <span class="waykeecom-stepper__stage" aria-hidden="true">
          Step <span class="waykeecom-stepper__stage-count"></span> –
        </span>
        Disabled step
      </h3>
    </div>
  </div>
</div>