<!-- Timeline is used to display a timeline of events. -->

<ul class="waykeecom-timeline">
  <li class="waykeecom-timeline__item">
    <div class="waykeecom-timeline__stage">
      <div class="waykeecom-timeline__badge"></div>
    </div>
    <div class="waykeecom-timeline__content">
      <div class="waykeecom-timeline__heading">Lorem ipsum</div>
      <div class="waykeecom-timeline__description">Lorem ipsum dolor sit amet</div>
    </div>
  </li>
  <li class="waykeecom-timeline__item">
    <div class="waykeecom-timeline__stage">
      <div class="waykeecom-timeline__badge"></div>
    </div>
    <div class="waykeecom-timeline__content">
      <div class="waykeecom-timeline__heading">Lorem ipsum</div>
      <div class="waykeecom-timeline__description">Lorem ipsum dolor sit amet</div>
    </div>
  </li>
  <li class="waykeecom-timeline__item">
    <div class="waykeecom-timeline__stage">
      <div class="waykeecom-timeline__badge"></div>
    </div>
    <div class="waykeecom-timeline__content">
      <div class="waykeecom-timeline__heading">Lorem ipsum</div>
      <div class="waykeecom-timeline__description">Lorem ipsum dolor sit amet</div>
    </div>
  </li>
  <li class="waykeecom-timeline__item">
    <div class="waykeecom-timeline__stage">
      <div class="waykeecom-timeline__badge"></div>
    </div>
    <div class="waykeecom-timeline__content">
      <div class="waykeecom-timeline__heading">Lorem ipsum</div>
      <div class="waykeecom-timeline__description">Lorem ipsum dolor sit amet</div>
    </div>
  </li>
  <li class="waykeecom-timeline__item waykeecom-timeline__item--final">
    <div class="waykeecom-timeline__stage">
      <div class="waykeecom-timeline__badge"></div>
    </div>
    <div class="waykeecom-timeline__content">
      <div class="waykeecom-timeline__heading">Lorem ipsum</div>
      <div class="waykeecom-timeline__description">Lorem ipsum dolor sit amet</div>
    </div>
  </li>
</ul>
