@use "../../../helpers" as *;

.#{$namespace}accordion {
  $root: &;

  &__checkbox {
    position: fixed;
    left: -9999px;
    opacity: 0;

    &:checked {
      ~ #{$root}__header {
        #{$root}__header-icon {
          .#{$namespace}icon {
            transform: rotate(180deg);
          }
        }
      }

      ~ #{$root}__body {
        display: block;
      }
    }

    @include focus {
      ~ #{$root}__header {
        @include focus-style;
      }
    }
  }

  &__header {
    @include user-select(none);

    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: size(-2);
      bottom: size(-2);
      left: 0;
      right: 0;
    }
  }

  &__header-title {
    flex: 1 1 auto;
    color: color(primary, main);

    #{$root}__header:hover & {
      text-decoration: underline;
    }
  }

  &__header-icon {
    flex-shrink: 0;
    padding-left: size(2);
    font-size: scss-var(font, size, xsmall);
  }

  &__body {
    display: none;
    margin-top: size(2);
  }
}
