<!-- This is the default button used in this project. -->

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button" title="">Default</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--primary" title="">Primary</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--action" title="">Action</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--action-alt" title="">Action Alt</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--action-clear" title="">Action Clear</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--success" title="">Success</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--action" title="">
    <span class="waykeecom-button__content">Button content</span>
    <span class="waykeecom-button__content">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        class="waykeecom-icon"
        data-icon="Arrow right"
      >
        <path d="m15.2 8.8-4.8 4.8-1.7-1.7 2.7-2.7H1.2C.5 9.2 0 8.7 0 8s.5-1.2 1.2-1.2h10.2L8.7 4.1l1.7-1.7 4.8 4.8.8.8-.8.8z" />
      </svg>
    </span>
  </button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--action waykeecom-button--size-small" title="">Small</button>
</div>

<div class="cl-sub-section">
  <button type="button" class="waykeecom-button waykeecom-button--action waykeecom-button--full-width" title="">Full width</button>
</div>