<!-- Content is used as a wrapper for html text content. It will add some styling to text related html elements and remove extending margins from first and last children. -->

<div class="cl-sub-section">
  <div class="waykeecom-content">
    <p class="waykeecom-content__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam ratione modi aliquid perferendis, nam doloremque quisquam tenetur accusamus optio commodi explicabo libero deleniti voluptates quos ipsam alias pariatur. Tenetur.</p>
    <ol class="waykeecom-content__ol">
      <li class="waykeecom-content__li">Lorem ipsum</li>
      <li class="waykeecom-content__li">Dolor sit amet</li>
      <li class="waykeecom-content__li">Consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit</li>
      <li class="waykeecom-content__li">Nam nibh</li>
    </ol>
    <p class="waykeecom-content__p">Lorem ipsum dolor sit amet.</p>
    <ul class="waykeecom-content__ul">
      <li class="waykeecom-content__li">Lorem ipsum</li>
      <li class="waykeecom-content__li">Dolor sit amet</li>
      <li class="waykeecom-content__li">Consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit</li>
      <li class="waykeecom-content__li">Nam nibh</li>
    </ul>
  </div>
</div>

<div class="cl-sub-section" style="font-size: 12px;">
  <div class="waykeecom-content waykeecom-content--inherit-size">
    <p class="waykeecom-content__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam ratione modi aliquid perferendis, nam doloremque quisquam tenetur accusamus optio commodi explicabo libero deleniti voluptates quos ipsam alias pariatur. Tenetur.</p>
    <ol class="waykeecom-content__ol">
      <li class="waykeecom-content__li">Lorem ipsum</li>
      <li class="waykeecom-content__li">Dolor sit amet</li>
      <li class="waykeecom-content__li">Consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit</li>
      <li class="waykeecom-content__li">Nam nibh</li>
    </ol>
    <p class="waykeecom-content__p">Lorem ipsum dolor sit amet.</p>
    <ul class="waykeecom-content__ul">
      <li class="waykeecom-content__li">Lorem ipsum</li>
      <li class="waykeecom-content__li">Dolor sit amet</li>
      <li class="waykeecom-content__li">Consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit consectetuer adipiscing elit</li>
      <li class="waykeecom-content__li">Nam nibh</li>
    </ul>
  </div>
</div>