<!-- Content is used as a wrapper for html text content. It will add some styling to text related html elements and remove extending margins from first and last children. -->

<div class="waykeecom-content">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam ratione modi aliquid perferendis, nam doloremque quisquam tenetur accusamus optio commodi explicabo libero deleniti voluptates quos ipsam alias pariatur. Tenetur.</p>
  <ol>
    <li>Lorem ipsum</li>
    <li>Dolor sit amet</li>
    <li>Consectetuer adipiscing elit</li>
    <li>Nam nibh</li>
  </ol>
  <p>Lorem ipsum dolor sit amet.</p>
</div>