<!-- HStack is used to position elements horizontally. -->

<div class="cl-sub-section">
  <div class="waykeecom-hstack waykeecom-hstack--spacing-2">
    <div class="waykeecom-hstack__item">
      <div class="cl-placeholder">Placeholder</div>
    </div>
    <div class="waykeecom-hstack__item">
      <div class="cl-placeholder" style="height: 70px;">Placeholder</div>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-hstack waykeecom-hstack--align-center waykeecom-hstack--spacing-2">
    <div class="waykeecom-hstack__item">
      <div class="cl-placeholder">Placeholder</div>
    </div>
    <div class="waykeecom-hstack__item">
       <div class="cl-placeholder" style="height: 70px;">Placeholder</div>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-hstack waykeecom-hstack--align-end waykeecom-hstack--spacing-2">
    <div class="waykeecom-hstack__item">
      <div class="cl-placeholder">Placeholder</div>
    </div>
    <div class="waykeecom-hstack__item">
       <div class="cl-placeholder" style="height: 70px;">Placeholder</div>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-hstack waykeecom-hstack--align-center waykeecom-hstack--spacing-2">
    <div class="waykeecom-hstack__item waykeecom-hstack__item--grow">
      <div class="cl-placeholder">Placeholder</div>
    </div>
    <div class="waykeecom-hstack__item waykeecom-hstack__item--no-shrink">
       <div class="cl-placeholder" style="height: 70px;">Placeholder</div>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-hstack waykeecom-hstack--equal-width waykeecom-hstack--spacing-2">
    <div class="waykeecom-hstack__item">
      <div class="cl-placeholder">Placeholder</div>
    </div>
    <div class="waykeecom-hstack__item">
       <div class="cl-placeholder">Placeholder</div>
    </div>
  </div>
</div>