<!-- This component is used to display a backdrop to an icon. -->

<div class="cl-sub-section">
  <div class="waykeecom-icon-backdrop">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      class="waykeecom-icon"
      data-icon="Info"
    >
      <path d="M7 6h2v8H7V6zm0-4v2h2V2H7z" />
    </svg>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-icon-backdrop waykeecom-icon-backdrop--success">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      class="waykeecom-icon"
      data-icon="Check"
    >
      <path
        d="M12.3 3.3 6 9.6 3.7 7.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3 3c.4.4 1 .4 1.4 0l7-7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z"
      />
    </svg>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-icon-backdrop waykeecom-icon-backdrop--error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      class="waykeecom-icon"
      data-icon="Exclamation mark"
    >
      <path
        d="M7.1 9.6 6.7 2h2.7L9 9.6H7.1zM8 11c-.8 0-1.5.7-1.5 1.5S7.2 14 8 14s1.5-.7 1.5-1.5S8.8 11 8 11z"
      />
    </svg>
  </div>
</div>
