<!-- Default checkbox used in this project. -->

<div class="cl-sub-section">
  <div class="waykeecom-input-checkbox" role="checkbox">
    <input
      type="checkbox"
      id="cl-checkbox-1"
      value=""
      name="cl-checkbox"
      class="waykeecom-input-checkbox__input"
    />
    <div class="waykeecom-input-checkbox__header">
      <label for="cl-checkbox-1" class="waykeecom-input-checkbox__label">Lorem ipsum</label>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-checkbox" role="checkbox">
    <input
      type="checkbox"
      id="cl-checkbox-2"
      value=""
      name="cl-checkbox"
      class="waykeecom-input-checkbox__input"
    />
    <div class="waykeecom-input-checkbox__header">
      <label for="cl-checkbox-2" class="waykeecom-input-checkbox__label">Lorem ipsum</label>
      <div class="waykeecom-input-checkbox__meta">Dolor sit amet</div>
    </div>
    <label for="cl-checkbox-2" class="waykeecom-input-checkbox__description">
      Lorem ipsum dolor sit amet.
    </label>
  </div>
</div>