<!-- Default radio button used in this project. -->

<div class="cl-sub-section">
  <div class="waykeecom-input-radio" role="radio">
    <input
      type="radio"
      id="cl-radio-1"
      value=""
      name="cl-radio"
      class="waykeecom-input-radio__input"
    />
    <div class="waykeecom-input-radio__header">
      <label for="cl-radio-1" class="waykeecom-input-radio__label">Lorem ipsum</label>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-input-radio" role="radio">
    <input
      type="radio"
      id="cl-radio-2"
      value=""
      name="cl-radio"
      class="waykeecom-input-radio__input"
    />
    <div class="waykeecom-input-radio__header">
      <label for="cl-radio-2" class="waykeecom-input-radio__label">Lorem ipsum</label>
      <div class="waykeecom-input-radio__meta">Dolor sit amet</div>
    </div>
    <label for="cl-radio-2" class="waykeecom-input-radio__description">
      Lorem ipsum dolor sit amet.
    </label>
  </div>
</div>