<!-- This is a horizontal list of keys and values. -->

<div class="cl-sub-section">
  <ul class="waykeecom-key-value-list">
    <li class="waykeecom-key-value-list__item">
      <div class="waykeecom-key-value-list__key">Key</div>
      <div class="waykeecom-key-value-list__value">Value</div>
    </li>
    <li class="waykeecom-key-value-list__item">
      <div class="waykeecom-key-value-list__key">Key</div>
      <div class="waykeecom-key-value-list__value">Value</div>
    </li>
    <li class="waykeecom-key-value-list__item">
      <div class="waykeecom-key-value-list__key">Key</div>
      <div class="waykeecom-key-value-list__value">Value</div>
    </li>
  </ul>
</div>

<div class="cl-sub-section">
  <ul class="waykeecom-key-value-list waykeecom-key-value-list--large-value">
    <li class="waykeecom-key-value-list__item">
      <div class="waykeecom-key-value-list__key">Key</div>
      <div class="waykeecom-key-value-list__value">Value</div>
    </li>
  </ul>
</div>