<!-- This is a default link. -->

<div class="cl-sub-section">
  <a href="#" title="" class="waykeecom-link">Lorem ipsum</a>
</div>

<div class="cl-sub-section">
  <a href="#" title="" class="waykeecom-link waykeecom-link--has-content">
    <span class="waykeecom-link__content">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        class="waykeecom-icon"
        data-icon="Arrow left"
      >
        <path d="m.8 7.2 4.8-4.8 1.7 1.7-2.7 2.7h10.2c.7 0 1.2.5 1.2 1.2s-.5 1.2-1.2 1.2H4.6l2.7 2.7-1.7 1.7L.8 8.8 0 8l.8-.8z"/>
      </svg>
    </span>
    <span class="waykeecom-link__content">Lorem ipsum</span>
  </a>
</div>