<!-- Component used to display a logotype. The logotype will be contained inside the wrapping element. -->

<div class="cl-sub-section">
  <div class="waykeecom-logo">
    <img src="https://via.placeholder.com/100x70" alt="Placeholder" class="waykeecom-logo__image" />
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-logo">
    <img src="https://via.placeholder.com/100x70" alt="Placeholder" class="waykeecom-logo__image waykeecom-logo__image--left" />
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-logo">
    <img src="https://via.placeholder.com/100x70" alt="Placeholder" class="waykeecom-logo__image waykeecom-logo__image--right" />
  </div>
</div>