<!-- Scrollable gallery of images. -->

<div style="padding: 0 var(--waykeecom-modal-gutter-x);">
  <div class="waykeecom-overflow-gallery">
    <div class="waykeecom-overflow-gallery__item">
      <img src="https://via.placeholder.com/800x600/567890/ebf5ff" alt="Placeholder" class="waykeecom-overflow-gallery__image" />
    </div>
    <div class="waykeecom-overflow-gallery__item">
      <img src="https://via.placeholder.com/800x600/ebf5ff/567890" alt="Placeholder" class="waykeecom-overflow-gallery__image" />
    </div>
    <div class="waykeecom-overflow-gallery__item">
      <img src="https://via.placeholder.com/800x600/567890/ebf5ff" alt="Placeholder" class="waykeecom-overflow-gallery__image" />
    </div>
  </div>
</div>