<!-- Scrollable grid of items such as tiles. -->

<div style="padding: 0 var(--waykeecom-modal-gutter-x);">
  <div class="waykeecom-overflow-grid">
    <div class="waykeecom-overflow-grid__nav waykeecom-overflow-grid__nav--prev">
      <button type="button" title="Previous" class="waykeecom-icon-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Chevron left"
        >
          <path d="m5.4 7 5.2-5 1 1-5.2 5 5.2 5-1.1 1-5.2-5-1-1 1.1-1z" />
        </svg>
      </button>
    </div>
    <div class="waykeecom-overflow-grid__nav waykeecom-overflow-grid__nav--next">
      <button type="button" title="Next" class="waykeecom-icon-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          class="waykeecom-icon"
          data-icon="Chevron right"
        >
          <path d="m10.5 9-5.2 5-1-1 5.2-5-5.2-5 1.1-1 5.2 5 1 1-1.1 1z" />
        </svg>
      </button>
    </div>
    <div class="waykeecom-overflow-grid__list-wrapper">
      <ul class="waykeecom-overflow-grid__list">
        <li class="waykeecom-overflow-grid__item">
          <div class="cl-placeholder" style="height: 200px;">Tile</div>
        </li>
        <li class="waykeecom-overflow-grid__item">
          <div class="cl-placeholder" style="height: 200px;">Tile</div>
        </li>
        <li class="waykeecom-overflow-grid__item">
          <div class="cl-placeholder" style="height: 200px;">Tile</div>
        </li>
        <li class="waykeecom-overflow-grid__item">
          <div class="cl-placeholder" style="height: 200px;">Tile</div>
        </li>
        <li class="waykeecom-overflow-grid__item">
          <div class="cl-placeholder" style="height: 200px;">Tile</div>
        </li>
      </ul>
    </div>
  </div>
</div>