<!-- Stack is used to space elements vertically. Combining different sizes on the same hierarchy will not work. If you want different margins between certain nodes in a stack, nest the different stacks instead. -->

<div class="cl-sub-section">
  <div class="waykeecom-stack waykeecom-stack--05">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--05">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--05">
    <div class="cl-placeholder">Placeholder</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-stack waykeecom-stack--1">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--1">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--1">
    <div class="cl-placeholder">Placeholder</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-stack waykeecom-stack--2">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--2">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--2">
    <div class="cl-placeholder">Placeholder</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-stack waykeecom-stack--3">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--3">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--3">
    <div class="cl-placeholder">Placeholder</div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-stack waykeecom-stack--4">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--4">
    <div class="cl-placeholder">Placeholder</div>
  </div>
  <div class="waykeecom-stack waykeecom-stack--4">
    <div class="cl-placeholder">Placeholder</div>
  </div>
</div>