<!-- Text is used to add styling to text strings. -->

<div class="cl-sub-section">
  <span class="waykeecom-text">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--tone-main">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--tone-alt">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--tone-inverted">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xxsmall">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xsmall">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-small">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-regular">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-large">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xlarge">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xxlarge">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xxxlarge">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--line-through">Line through</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--font-light">Font light</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--font-regular">Font regular</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--font-medium">Font medium</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--font-bold">Font bold</span>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-text waykeecom-text--align-left">Align left</div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-text waykeecom-text--align-center">Align center</div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-text waykeecom-text--align-right">Align right</div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-text waykeecom-text--valign-middle">Vertical align middle</div>
</div>
