<!-- Text is used to add styling to text strings. -->

<div class="cl-sub-section">
  <span class="waykeecom-text">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--tone-main">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--tone-alt">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--tone-inverted">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xxsmall">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xsmall">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-small">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-regular">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-large">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xlarge">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xxlarge">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--size-xxxlarge">Lorem ipsum dolor sit amet</span>
</div>

<div class="cl-sub-section">
  <span class="waykeecom-text waykeecom-text--line-through">Lorem ipsum dolor sit amet</span>
</div>
