<!-- This is a tile used to display content. -->

<div class="cl-sub-section">
  <div class="waykeecom-tile">
    <img src="https://via.placeholder.com/600x300/567890/ebf5ff" alt="Placeholder" class="waykeecom-tile__hero" />
    <div class="waykeecom-tile__body">
      <div class="waykeecom-tile__header">
        <div class="waykeecom-tile__title">Lorem ipsum</div>
        <div class="waykeecom-tile__image">
          <div class="waykeecom-logo">
            <img src="https://via.placeholder.com/100x70" alt="Placeholder" class="waykeecom-logo__image waykeecom-logo__image--right" />
          </div>
        </div>
      </div>
      <div class="waykeecom-tile__price">500 kr</div>
      <div class="waykeecom-tile__description">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="waykeecom-tile__read-more">
        <button type="button" title="" class="waykeecom-link">Lorem ipsum</button>
      </div>
    </div>
    <div class="waykeecom-tile__footer">
      <div class="cl-placeholder">Footer content</div>
    </div>
  </div>
</div>

<div class="cl-sub-section">
  <div class="waykeecom-tile">
    <div class="waykeecom-tile__body">
      <div class="waykeecom-tile__header">
        <div class="waykeecom-tile__title">Lorem ipsum</div>
        <div class="waykeecom-tile__image">
          <div class="waykeecom-logo">
            <img src="https://via.placeholder.com/100x70" alt="Placeholder" class="waykeecom-logo__image waykeecom-logo__image--right" />
          </div>
        </div>
      </div>
      <div class="waykeecom-tile__price">500 kr</div>
      <div class="waykeecom-tile__description">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="waykeecom-tile__read-more">
        <button type="button" title="" class="waykeecom-link">Lorem ipsum</button>
      </div>
    </div>
    <div class="waykeecom-tile__footer">
      <div class="cl-placeholder">Footer content</div>
    </div>
  </div>
</div>