<!-- This is an unordered list of text. -->

<ul class="waykeecom-unordered-list">
  <li class="waykeecom-unordered-list__item">Lorem ipsum</li>
  <li class="waykeecom-unordered-list__item">Dolor sit amet</li>
  <li class="waykeecom-unordered-list__item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo.</li>
  <li class="waykeecom-unordered-list__item">Dolor sit amet</li>
  <li class="waykeecom-unordered-list__item">Lorem ipsum</li>
</ul>
