@use "../../../helpers" as *;

.#{$namespace}footer {
  padding: var(--#{$namespace}modal-gutter);
  margin: var(--#{$namespace}modal-gutter-negative);
  margin-top: var(--#{$namespace}modal-gutter-y);
  background-color: color(bg, alt);
}
