@use "../../../helpers" as *;

.#{$namespace}footer {
  padding: var(--modal-gutter);
  margin: var(--modal-gutter-negative);
  margin-top: var(--modal-gutter-y);
  background-color: color(bg, alt);
}
