@use "../../../helpers" as *;

.#{$namespace}footer {
  padding: var(--#{$namespace}modal-gutter);
  margin: var(--#{$namespace}modal-gutter-y) var(--#{$namespace}modal-gutter-negative-x) 0 var(--#{$namespace}modal-gutter-negative-x);
  background-color: color(bg, alt);
}
