@use '../../../helpers' as *;

.input-radio {
  $root: &;

  --icon-size: #{size(2)};
  --icon-margin: #{size(1)};
  --label-size: #{scss-var(font, size, small)};
  --label-line-height: #{scss-var(font, line-height, main)};

  &__input {
    position: fixed;
    left: -9999px;
    opacity: 0;

    &:checked {
      ~ #{$root}__header {
        #{$root}__label {
          @include font-medium;

          &::before {
            background-color: color(bg, main);
            box-shadow: inset 0 0 0 size(0.625) color(action, main);
          }
        }
      }
    }
  }

  &__header {
    @include flex-display;
    @include align-items(flex-end);
  }

  &__label {
    @include flex(1 1 auto);
    @include flex-display;
    font-size: var(--label-size);
    line-height: var(--label-line-height);
    
    &::before {
      @include flex-shrink(0);
      content: '';  
      width: var(--icon-size);
      height: var(--icon-size);
      border-radius: 50%;
      background-color: color(bg, alt);
      margin-right: var(--icon-margin);
      margin-top: calc((var(--icon-size) - var(--label-size) * var(--label-line-height)) / -2);
      cursor: pointer;
    }

    @include focus {
      &::before {
        outline: 2px solid color(text, main);
        outline-offset: 2px;
      }
    }
  }

  &__meta {
    @include flex-shrink(0);
    padding-left: size(2);
  }

  &__description {
    margin-top: size(1);
    margin-left: calc(var(--icon-size) + var(--icon-margin));
    font-size: scss-var(font, size, xsmall);
  }
}