@use '../../../helpers' as *;

.#{$namespace}input-radio {
  $root: &;

  --#{$namespace}icon-size: #{size(2)};
  --#{$namespace}icon-margin: #{size(1)};
  --#{$namespace}label-size: #{scss-var(font, size, small)};
  --#{$namespace}label-line-height: #{scss-var(font, line-height, main)};

  &__input {
    position: fixed;
    left: -9999px;
    opacity: 0;

    &:checked {
      ~ #{$root}__header {
        #{$root}__label {
          @include font-medium;

          &::before {
            background-color: color(bg, main);
            box-shadow: inset 0 0 0 size(0.625) color(action, main);
          }
        }
      }
    }

    @include focus {
      outline: none;
      
      ~ #{$root}__header {
        #{$root}__label {
          &::before {
            @include focus-style;
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
  }

  &__label {
    flex: 1 1 auto;
    display: flex;
    line-height: var(--#{$namespace}label-line-height);

    &::before {
      content: '';
      flex-shrink: 0;
      width: var(--#{$namespace}icon-size);
      height: var(--#{$namespace}icon-size);
      border-radius: 50%;
      background-color: color(bg, alt);
      margin-right: var(--#{$namespace}icon-margin);
      margin-top: calc((var(--#{$namespace}icon-size) - var(--#{$namespace}label-size) * var(--#{$namespace}label-line-height)) / -2);
      cursor: pointer;
    }
  }

  &__meta {
    flex-shrink: 0;
    padding-left: size(2);
  }

  &__description {
    display: block;
    padding-top: size(1);
    padding-left: calc(var(--#{$namespace}icon-size) + var(--#{$namespace}icon-margin));
    font-size: scss-var(font, size, xsmall);
  }
}
