@use '../../../helpers' as *;

.#{$namespace}input-group {
  $root: &;

  --#{$namespace}legend-font-size: #{scss-var(font, size, xsmall)};

  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;

  .#{$namespace}input-label {
    width: 100%;
    padding: 0;

    #{$root}--has-error & {
      color: color(semantic, error, text);
    }

    &:not(.#{$namespace}no-margin) {
      margin-bottom: size(1);
    }
  }

  &__item {
    & + & {
      margin-top: size(2);
    }
  }
}