@use '../../../helpers' as *;

.input-label {
  @include flex-display;
  @include align-items(center);
  
  &:not(.no-margin) {
    margin-bottom: size(0.5);
  }

  &__label {
    @include font-medium;
    color: color(text, main);
    font-size: var(font, size, xsmall);
  }

  &__help {
    @include flex-shrink(0);
    margin-left: auto;
  }
}