@use '../../../helpers' as *;

.input-label {
  $root: &;

  --label-font-size: #{scss-var(font, size, xsmall)};

  @include flex-display;
  @include flex-wrap(wrap);
  @include align-items(center);
  
  &:not(.no-margin) {
    margin-bottom: size(0.5);
  }

  &__label {
    @include font-medium;
    display: block;
    color: color(text, main);
    font-size: var(--label-font-size);

    #{$root}--has-error & {
      color: color(ui, error, text);
    }

    &--is-required {
      &::after {
        content: '*';
        margin-left: 0.25ch;
        color: color(ui, error, text);
      }
    }
  }

  &__help {
    @include flex-shrink(0);
    position: relative; // Used to place help-btn focus above foldout
    margin-left: auto;
  }
  
  &__help-btn {
    font-size: 1rem;
    color: color(primary, main);
    border-radius: 50%; // Used to display a round focus outline
    transition: color 200ms ease;

    &:hover {
      color: darken(color(primary, main), 5%);
    }
  }

  &__foldout {
    @include remove-direct-child-edge-margins;
    width: 100%;
    background-color: color(bg, alt);
    padding: size(1.5);
    border-radius: scss-var(size, border-radius);
    font-size: scss-var(font, size, xsmall);
  }
}