@use '../../../helpers' as *;

.#{$namespace}key-value-list {
  --#{$namespace}key-font-size: #{scss-var(font, size, xsmall)};
  --#{$namespace}value-font-size: #{scss-var(font, size, small)};

  $root: &;

  list-style: none;
  margin: 0;
  padding: 0;

  &--large-value {
    --value-font-size: #{scss-var(font, size, large)};

    @include font-bold;
  }

  &__item {
    display: flex;

    & + & {
      margin-top: size(1);
    }
  }

  &__key {
    flex-shrink: 0;
    @include font-medium;
    
    padding-right: size(2);
    font-size: var(--#{$namespace}key-font-size);
    line-height: scss-var(font, line-height, main);
    margin-top: calc(((var(--#{$namespace}key-font-size) * #{scss-var(font, line-height, main)}) - (var(--#{$namespace}value-font-size) * #{scss-var(font, line-height, main)})) / -2);
  }

  &__value {
    flex: 1 1 auto;
    font-size: var(--#{$namespace}value-font-size);
    line-height: scss-var(font, line-height, main);
    text-align: right;
  }
}