@use '../../../helpers' as *;

.key-value-list {
  --key-font-size: #{scss-var(font, size, small)};
  --value-font-size: #{scss-var(font, size, regular)};

  &--large-value {
    --value-font-size: #{scss-var(font, size, xxlarge)};
  }
}