@use '../../../helpers' as *;

.#{$namespace}container {
  --container-gutter: #{scss-var(size, container, gutter, main)};

  width: 100%;
  max-width: scss-var(size, container, max-width, main);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--container-gutter);
  padding-left: max(env(safe-area-inset-left), var(--container-gutter));
  padding-right: max(env(safe-area-inset-right), var(--container-gutter));

  &--narrow {
    max-width: scss-var(size, container, max-width, narrow);
  }
}