@use '../../../helpers' as *;

.#{$namespace}balloon {
  padding: size(2);
  background-color: color(bg, alt);
  border-radius: scss-var(border, radius, alt);
  font-size: scss-var(font, size, small);
}