@use '../../../helpers' as *;

.#{$namespace}input-text {
  --input-padding: #{size(2)};
  --input-height: #{scss-var(size, input-height, desktop)};
  --unit-font-size: #{scss-var(font, size, regular)};
}