@use 'sass:color';
@use '../../../helpers' as *;

.#{$namespace}input-text {
  $root: &;
  
  --#{$namespace}input-padding: #{size(1.5)};
  --#{$namespace}input-height: #{scss-var(size, input-height, mobile)};
  --#{$namespace}unit-font-size: #{scss-var(font, size, small)};

  display: flex;
  align-items: stretch;
  height: var(--#{$namespace}input-height);
  background-color: color(bg, main);
  border: scss-var(border, width, main) solid color(border, main);
  border-radius: scss-var(border, radius, main);
  box-shadow: scss-var(box-shadow, alt);

  &--has-error {
    border-color: color(ui, error, text);
  }

  &:not(#{$root}--has-error):focus-within {
    border-color: color.adjust(color(border, main), $lightness: -20%);
  }

  &__input {
    flex: 1 1 auto;
    @include appearance(none);
    @include font-light;

    display: block;
    width: 100%;
    padding: 0 var(--#{$namespace}input-padding);
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    touch-action: manipulation;

    &[disabled] {
      opacity: 0.37;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }

    @include placeholder {
      @include font-light;

      color: color(text, alt);
    }
  }

  &__unit {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-right: var(--#{$namespace}input-padding);
    color: color(text, alt);
    font-size: var(--#{$namespace}unit-font-size);
  }

  // Registration number SVG icon placed inside `__unit`
  &__unit-regnr-icon {
    display: block;
    height: size(4);
  }
}
