@use "sass:selector";
@use '../../../helpers' as *;

.#{$namespace}link {
  $root: &;

  @include font-regular;
  
  color: color(link, main);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @at-root #{selector.unify(&, button)} {
    font-size: 1em;
    
    &:not(#{$root}--has-content) {
      display: inline-block;
    }
  }

  &--has-content {
    display: inline-flex;
  }

  &__content {
    display: block;

    & + & {
      margin-left: size(1);
    }
  }
}