@use "sass:selector";
@use '../../../helpers' as *;

.#{$namespace}link {
  $root: &;

  @include font-regular;
  
  color: color(link, main);
  text-decoration: none;

  &:not(#{$root}--no-external-icon) {
    &[target="_blank"] {
      &::after {
        content: "";
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        margin-left: 0.25em;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M16 14.9c0 .6-.5 1.1-1.1 1.1H1.1C.5 16 0 15.5 0 14.9V1.1C0 .5.5 0 1.1 0c.6 0 1.1.5 1.1 1.1v12.6h12.6c.7 0 1.2.5 1.2 1.2zM14.9 0h-8v2.3h5.2l-6 6L7.7 10l6-6v5.2H16v-8c0-.7-.5-1.2-1.1-1.2z" fill="%23#{str-replace(#{color(link, main)}, "#", "")}"/></svg>');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 100%;
      }
    }
  }

  &:hover {
    text-decoration: underline;
  }

  @at-root #{selector.unify(&, button)} {
    font-size: 1em;
    
    &:not(#{$root}--has-content) {
      display: inline-block;
    }
  }

  &--has-content {
    display: inline-flex;
    align-items: center;
  }

  &--align-baseline {
    vertical-align: baseline;
  }

  &--current-color {
    color: currentColor;
  }

  &--underline {
    text-decoration: underline;
  }

  &__content {
    display: block;

    & + & {
      margin-left: size(1);
    }
  }
}