@use 'sass:math';
@use '../../../helpers' as *;

.#{$namespace}hstack {
  $root: &;

  display: flex;

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--equal-width {
    #{$root}__item {
      width: 100%;
    }
  }

  // Create spacing modifier
  @for $i from 1 through 4 {
    &--spacing-#{$i} {
      margin: size(math.div($i, -2));

      & > #{$root}__item {
        padding: size(math.div($i, 2));
      }
    }
  }

  &__item {
    flex: 0 1 auto;

    &--grow {
      flex-grow: 1;
    }

    &--no-shrink {
      flex-shrink: 0;
    }
  }
}
