/// Styling used in the print media query

@use '../../helpers' as *;

@page {
  size: 330mm 427mm;
  margin: 14mm;
}

#{$root-body} {
  font-size: 10pt;
  color: #000;
}

// Print URL to links
:where(#{$root-body} a[href]) {
  &::after {
    content: " (" attr(href) ")";
  }
}
