@use '../../../helpers' as *;

.#{$namespace}extend-content {
  $root: &;

  &__body {
    position: relative;
    max-height: size(7.5);
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-image: linear-gradient(
        rgba(color(bg, main), 0),
        color(bg, main)
      );
      z-index: 1;
    }

    #{$root}--is-extended & {
      max-height: none;

      &::before {
        content: none;
      }
    }
  }

  &__action {
    margin-top: size(0.5);
  }
}