@use '../../../helpers' as *;

.#{$namespace}stepper {
  $root: &;

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    // Current stage
    // &--is-active {}

    // Completed stage
    &--is-complete {
      #{$root}__header {
        justify-content: flex-start;
        text-align: left;
      }

      #{$root}__stage {
        display: none;
      }

      #{$root}__icon {
        display: block;
      }
    }

    // Upcoming stage
    &--is-disabled {
      & > * {
        opacity: 0.3;
      }

      #{$root}__body {
        display: none;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    display: none;
    flex-shrink: 0;
    margin-right: size(1.5);
  }

  &__body {
    margin-top: size(4);
  }

  &__break {
    padding: size(2);
    background-color: color(bg, alt);
  }
}
