@use '../../../helpers' as *;

.stepper {
  &__item {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
    
    & + & {
      border-top: 1px solid color(border, main);
    }
  }
}