@use '../../../helpers' as *;

.#{$namespace}stepper {
  &__item {
    padding: size(4) 0;
    
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
    
    & + & {
      border-top: 1px solid color(border, main);
    }
  }
}