@use '../../../helpers' as *;

.#{$namespace}stepper {
  margin: 0 var(--#{$namespace}modal-gutter-negative-x);

  &__item {
    $item-border: size(1) solid color(bg, alt);

    padding: var(--#{$namespace}modal-gutter);
    border-top: $item-border;

    &:last-child {
      border-bottom: $item-border;
    }
  }

  &__break {
    margin: 0 var(--#{$namespace}modal-gutter-negative-x);
  }
}