@use '../../../helpers' as *;

.stepper {
  $root: &;
  
  counter-reset: stage;

  &__item {
    counter-increment: stage;

    // Current stage
    //&--is-active {}

    // Completed stage
    &--is-complete {
      #{$root}__header {
        text-align: left;
      }
    }

    // Upcoming stage
    &--is-disabled {
      & > * {
        opacity: 0.3;
      }

      #{$root}__body {
        display: none;
      }
    }
  }

  &__header {
    text-align: center;
  }

  &__stage-count {
    &::before {
      content: counter(stage);
    }
  }

  &__body {
    margin-top: size(4);
  }
}