@use '../../../helpers' as *;

@mixin alertTone($root, $bg, $text, $iconBg, $iconText) {
  background-color: $bg;
  color: $text;

  #{$root}__icon-badge {
    background-color: $iconBg;
    color: $iconText;
  }
}

.alert {
  $root: &;
  
  --icon-size: #{size(3)};
  --content-size: #{scss-var(font, size, xsmall)};
  --content-line-height: #{scss-var(font, line-height, main)};

  @include alertTone($root, color(bg, alt), color(text, main), darken(color(bg, alt), 5%), color(text, main));
  @include flex-display;
  padding: size(1.5);
  border-radius: scss-var(size, border-radius);

  &--success {
    @include alertTone($root, color(ui, success, alt), color(text, main), color(ui, success, main), color(ui, success, text));
  }

  &--warning {
    @include alertTone($root, color(ui, warning, alt), color(text, main), color(ui, warning, main), color(ui, warning, text));
  }

  &--error {
    @include alertTone($root, color(ui, error, alt), color(text, main), color(ui, error, main), color(ui, error, text));
  }

  &--info {
    @include alertTone($root, color(ui, info, alt), color(text, main), color(ui, info, main), color(ui, info, text));
  }

  &__icon {
    @include flex-shrink(0);
    padding-right: size(1);
  }

  &__icon-badge {
    @include flex-display;
    @include align-items(center);
    @include justify-content(center);
    width: var(--icon-size);
    height: var(--icon-size);
    margin-top: calc((var(--icon-size) - var(--content-size) * var(--content-line-height)) / -2);
    border-radius: 50%;
    font-size: scss-var(font, size, small);
  }

  &__content {
    @include flex(1 1 auto);
    @include remove-direct-child-edge-margins;
    min-width: 0;
    font-size: var(--content-size);
    line-height: var(--content-line-height);

    p,
    ul,
    ol {
      margin: size(1.5) 0;
    }

    ul,
    ol {
      padding: 0;
      list-style-position: inside;
    }
  }
}