@use '../../../helpers' as *;

@mixin alert-tone($root, $bg, $text, $iconBg, $iconText) {
  background-color: $bg;
  color: $text;

  #{$root}__icon-badge {
    background-color: $iconBg;
    color: $iconText;
  }
}

.#{$namespace}alert {
  $root: &;

  --#{$namespace}icon-size: #{size(3)};
  --#{$namespace}content-size: #{scss-var(font, size, xsmall)};
  --#{$namespace}content-line-height: #{scss-var(font, line-height, main)};

  @include alert-tone(
    $root,
    color(bg, alt),
    color(text, main),
    darken(color(bg, alt), 5%),
    color(text, main)
  );

  display: flex;
  padding: size(1.5);
  border-radius: scss-var(border, radius, main);

  &--success {
    @include alert-tone(
      $root,
      color(ui, success, alt),
      color(text, main),
      color(ui, success, main),
      color(ui, success, text)
    );
  }

  &--warning {
    @include alert-tone(
      $root,
      color(ui, warning, alt),
      color(text, main),
      color(ui, warning, main),
      color(ui, warning, text)
    );
  }

  &--error {
    @include alert-tone(
      $root,
      color(ui, error, alt),
      color(text, main),
      color(ui, error, main),
      color(ui, error, text)
    );
  }

  &--info {
    @include alert-tone(
      $root,
      color(ui, info, alt),
      color(text, main),
      color(ui, info, main),
      color(ui, info, text)
    );
  }

  &__icon {
    flex-shrink: 0;
    padding-right: size(1);
  }

  &__icon-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$namespace}icon-size);
    height: var(--#{$namespace}icon-size);
    margin-top: calc((var(--#{$namespace}icon-size) - var(--#{$namespace}content-size) * var(--#{$namespace}content-line-height)) / -2);
    border-radius: 50%;
    font-size: scss-var(font, size, small);
  }

  &__content {
    @include remove-direct-child-edge-margins;

    flex: 1 1 auto;
    min-width: 0;
    font-size: var(--#{$namespace}content-size);
    line-height: var(--#{$namespace}content-line-height);

    p,
    ul,
    ol {
      margin: size(1.5) 0;
    }

    ul,
    ol {
      padding: 0;
      list-style-position: inside;
    }
  }
}
