@use '../../../helpers' as *;

.#{$namespace}disclaimer {
  $icon-size: scss-var(font, size, regular);
  $text-size: scss-var(font, size, xsmall);
  $text-line-height: scss-var(font, line-height, main);

  @include flex-display;
  @include justify-content(center);

  &__icon {
    @include flex-shrink(0);
    
    margin-top: calc(($icon-size - $text-size * $text-line-height) / -2);
    color: color(text, alt);
    font-size: $icon-size;
    padding-right: size(1);
  }

  &__text {
    font-size: $text-size;
    line-height: $text-line-height;

    & > p {
      margin: 0;
    }
  }
}