@use '../../../helpers' as *;

.#{$namespace}disclaimer {
  text-align: center;
  font-size: scss-var(font, size, xsmall);

  &__icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.25em;
    margin: size(-0.25) 0;
    font-size: scss-var(font, size, regular);
    color: color(text, alt);
  }

  &__text {
    display: inline;
    vertical-align: middle;
  }

  p {
    margin: 0;
  }
}