/// Declare the color codes in $color-defs and assign them to abstract
/// variable names in $colors found in _colors.scss which are the colors
/// used in the project.

@use 'sass:map';

// This map is used to define all colors used in this project
$color-defs: (
  black: #424240,
  white: #fff,
  gray: #ececeb,
  gray-light: #f4f4f4,
  gray-dark: #757575,
  blue: #00b6d3,
  blue-light: #e5f7fa,
  blue-semantic: #005fcc,
  red: #ea566c,
  red-extra-light: #fceef0,
  red-light: #fad2d2,
  green: #00a997,
  ui: (
    green: #c2e2db,
    green-light: #dff4ef,
    green-dark: #00a997,
    red: #fad2d2,
    red-light: #fceef0,
    red-dark: #ea566c,
    yellow: #f9dbb6,
    yellow-light: #fcf2e2,
    yellow-dark: #f0a648,
    blue: #bbE2ee,
    blue-light: #e5f7fa,
    blue-dark: #00b6d3,
  ),
);

// Function used to get colors from $color-defs
@function color-defs($keys...) {
  $value: map.get($color-defs, $keys...);

  @if not $value {
    @error('Color "#{$keys}" does not exist in $color-defs.');
  }

  @return $value;
}
