/* Base color definitions as CSS variables */
#wayke-ecom-modal {
  /* Base colors */
  --color-black: #424240;
  --color-white: #fff;
  --color-gray: #ececeb;
  --color-gray-light: #f4f4f4;
  --color-gray-dark: #757575;
  --color-blue: #00b6d3;
  --color-blue-light: #e5f7fa;
  --color-blue-semantic: #005fcc;
  --color-red: #ea566c;
  --color-red-extra-light: #fceef0;
  --color-red-light: #fad2d2;
  --color-green: #00a997;

  /* Semantic colors */
  --color-semantic-green: #c2e2db;
  --color-semantic-green-light: #dff4ef;
  --color-semantic-green-dark: #00a997;
  --color-semantic-red: #fad2d2;
  --color-semantic-red-light: #fceef0;
  --color-semantic-red-dark: #b0031d;
  --color-semantic-yellow: #f9dbb6;
  --color-semantic-yellow-light: #fcf2e2;
  --color-semantic-yellow-dark: #f0a648;
  --color-semantic-blue: #bbe2ee;
  --color-semantic-blue-light: #e5f7fa;
  --color-semantic-blue-dark: #00b6d3;

  /* Theme color assignments */
  --color-primary-main: var(--color-blue);
  --color-primary-alt: var(--color-blue-light);
  --color-primary-text: var(--color-white);

  --color-action-main: var(--color-red);
  --color-action-alt: var(--color-red-extra-light);
  --color-action-text: var(--color-white);

  --color-bg-main: var(--color-white);
  --color-bg-alt: var(--color-gray-light);
  --color-bg-contrast: var(--color-black);

  --color-text-main: var(--color-black);
  --color-text-alt: var(--color-gray-dark);
  --color-text-inverted: var(--color-white);

  --color-link-main: var(--color-blue);

  --color-border-main: var(--color-gray);
  --color-border-alt: var(--color-gray-dark);

  --color-focus-main: var(--color-blue-semantic);

  --color-disabled-bg: var(--color-gray-light);
  --color-disabled-text: var(--color-gray-dark);

  --color-overlay-main: var(--color-black);

  --color-chart-primary: var(--color-green);
  --color-chart-secondary: var(--color-red-light);

  --color-semantic-success-main: var(--color-semantic-green);
  --color-semantic-success-alt: var(--color-semantic-green-light);
  --color-semantic-success-text: var(--color-semantic-green-dark);

  --color-semantic-error-main: var(--color-semantic-red);
  --color-semantic-error-alt: var(--color-semantic-red-light);
  --color-semantic-error-text: var(--color-semantic-red-dark);

  --color-semantic-warning-main: var(--color-semantic-yellow);
  --color-semantic-warning-alt: var(--color-semantic-yellow-light);
  --color-semantic-warning-text: var(--color-semantic-yellow-dark);

  --color-semantic-info-main: var(--color-semantic-blue);
  --color-semantic-info-alt: var(--color-semantic-blue-light);
  --color-semantic-info-text: var(--color-semantic-blue-dark);
}

#wayke-ecom-modal[data-theme="drive"] {
  /* Base colors */
  --color-black: #272a2f;
  --color-white: #fff;
  --color-gray: #e0e0e0;
  --color-gray-light: #f1f1f1;
  --color-gray-dark: #505862;
  
  /* Primary colors */
  --color-blue: #f36c3b;
  --color-blue-light: #fce7d7;
  --color-blue-semantic: #3b76e7;
  --color-red: #dd4c38;
  --color-red-extra-light: #f6edec;
  --color-red-light: #f2d8d5;
  --color-green: #4e9862;
  
  /* Semantic colors */
  --color-semantic-green: #bce1c6;
  --color-semantic-green-light: #e8f8ec;
  --color-semantic-green-dark: #4e9862;
  --color-semantic-red: #f2d8d5;
  --color-semantic-red-light: #f6edec;
  --color-semantic-red-dark: #8e0f02;
  --color-semantic-yellow: #f6e3b2;
  --color-semantic-yellow-light: #fff7e1;
  --color-semantic-yellow-dark: #eabf52;
  --color-semantic-blue: #b2d4f3;
  --color-semantic-blue-light: #e1f1ff;
  --color-semantic-blue-dark: #3b76e7;
  
  /* Theme color assignments */
  --color-primary-main: var(--color-blue);
  --color-primary-alt: var(--color-blue-light);
  --color-primary-text: var(--color-white);
  
  --color-action-main: var(--color-blue);
  --color-action-alt: var(--color-blue-light);
  --color-action-text: var(--color-white);
  
  --color-bg-main: var(--color-white);
  --color-bg-alt: var(--color-gray-light);
  --color-bg-contrast: var(--color-black);
  
  --color-text-main: var(--color-black);
  --color-text-alt: var(--color-gray-dark);
  --color-text-inverted: var(--color-white);
  
  --color-link-main: #2d72a8; /* Changed to match --palette-accent-01-500 like in the root theme */
  
  --color-border-main: var(--color-gray);
  --color-border-alt: var(--color-gray-dark);
  
  --color-focus-main: var(--color-blue-semantic);
  
  --color-disabled-bg: var(--color-gray-light);
  --color-disabled-text: var(--color-gray-dark);
  
  --color-overlay-main: var(--color-black);
  
  --color-chart-primary: var(--color-green);
  --color-chart-secondary: var(--color-red-light);
  
  /* Semantic color assignments */
  --color-semantic-success-main: var(--color-semantic-green);
  --color-semantic-success-alt: var(--color-semantic-green-light);
  --color-semantic-success-text: var(--color-semantic-green-dark);
  
  --color-semantic-error-main: var(--color-semantic-red);
  --color-semantic-error-alt: var(--color-semantic-red-light);
  --color-semantic-error-text: var(--color-semantic-red-dark);
  
  --color-semantic-warning-main: var(--color-semantic-yellow);
  --color-semantic-warning-alt: var(--color-semantic-yellow-light);
  --color-semantic-warning-text: var(--color-semantic-yellow-dark);
  
  --color-semantic-info-main: var(--color-semantic-blue);
  --color-semantic-info-alt: var(--color-semantic-blue-light);
  --color-semantic-info-text: var(--color-semantic-blue-dark);
}